<h1>Static#fu with locale <%= I18n.locale %></h1>

<h2>Testing I18n localizations</h2>

<p><%= t(:i18n_underscore_key_test_without_translation) %></p>
<p><%= t('i18n String test without translation') %></p>

<p><%= t(:i18n_underscore_key_test_with_translation) %></p>
<p><%= t('i18n String test with translation') %></p>

<h3>Pluralizations</h3>

<h4>Numbers</h4>
<% (0..25).each do |i| %>
<p><%= t(:results, :count => i) %></p>
<% end %>

<h4>Time localization</h4>

<% from_time = Time.now %>
<% (1..25).each do |m| %>
<p><%= distance_of_time_in_words from_time, from_time + m.minutes %></p>
<% end %>

<h2>Testing I18n localizations with Gettext backend</h2>

<p><%= t(:gt_i18n_underscore_key_test_without_translation) %></p>
<p><%= t('gt i18n String test without translation') %></p>

<p><%= t(:gt_i18n_underscore_key_test_with_translation) %></p>
<p><%= t('gt i18n String test with translation') %></p>

<p><%= t(:both_gt_and_i18n_translation) %></p>

<h3>Pluralizations</h3>

<h4>Numbers</h4>
<% (0..25).each do |i| %>
<p><%= t(:gt_results, :count => i) %></p>
<% end %>

<h4>Time localization</h4>

...
