<h1>Static#fu with locale <%= I18n.locale %></h1>

<h2>Testing I18n localizations</h2>

<p><%= t(:i18n_underscore_key_test_without_translation) %></p>
<p><%= t('i18n String test without translation') %></p>

<p><%= t(:i18n_underscore_key_test_with_translation) %></p>
<p><%= t('i18n String test with translation') %></p>

<h3>Pluralizations</h3>

<h4>Numbers</h4>
<% (0..25).each do |i| %>
<p><%= t(:results, :count => i) %></p>
<% end %>

<h4>Time localization</h4>

<% from_time = Time.now %>
<% (1..25).each do |m| %>
<p><%= distance_of_time_in_words from_time, from_time + m.minutes %></p>
<% end %>

<h2>Testing I18n localizations with Gettext backend</h2>

<p><%= t(:gt_i18n_underscore_key_test_without_translation) %></p>
<p><%= t('gt i18n String test without translation') %></p>

<p><%= t(:gt_i18n_underscore_key_test_with_translation) %></p>
<p><%= t('gt i18n String test with translation') %></p>

<p><%= t(:both_gt_and_i18n_translation) %></p>

<h3>Pluralizations</h3>

<h4>Numbers</h4>
<% (0..25).each do |i| %>
<p><%= t(:gt_results, :count => i) %></p>
<% end %>

<h4>Time localization</h4>

...


<h2>Testing Gettext localizations with Gettext backend</h2>

<h3>Common Gettext methods</h3>

<h4>Simple (_)</h4>
<p><%= _('Gimme text!') %></p>

<h4>Scoped (s_)</h4>
<p><%= s_('Scope|Gimme text!') %></p>

<h4>Scoped/Context (p_)</h4>
<b><span style="color: red">This doesn't work because of <a href="https://github.com/svenfuchs/i18n/issues/116">this bug</a></span></b>
<p><%= p_('Context', 'Gimme text!') %></p>

<h4>Simple pluralization (n_)</h4>
<% [0,1,3,8,100].each do |n| %>
    <p><%= n_('Gimme singular text!', 'Gimme plural text for %{count}!', n) %></p>
<% end %>

<h4>Simple pluralization (ns_)</h4>
<% [0,1,3,8,100].each do |n| %>
    <p><%= ns_('Gimme singular text!', 'Gimme plural text for %{count}!', n) %></p>
<% end %>

<h4>Scoped pluralization (ns_)</h4>
<% [0,1,3,8,100].each do |n| %>
    <p><%= ns_('Scope|Gimme singular text!', 'Gimme plural text for %{count}!', n) %></p>
<% end %>

<h4>Scoped/In context pluralization (np_)</h4>
<b><span style="color: red">This doesn't work because of <a href="https://github.com/svenfuchs/i18n/issues/116">this bug</a></span></b>
<% [0,1,3,8,100].each do |n| %>
    <p><%#= np_('Context', 'Gimme singular text!', 'Gimme plural text for %{count}!', n) %></p>
<% end %>


<p><%= _('New gettext key!') %></p>
<p><%= _('And a new one... Mua ha ha') %></p>
