<h1>Static#fu with locale <%= I18n.locale %></h1>

<h2>Testing I18n localizations</h2>

<p><%= t(:i18n_underscore_key_test_without_translation) %></p>
<p><%= t('i18n String test without translation') %></p>
<p><%= t(:i18n_underscore_key_test_with_translation) %></p>
<p><%= t('i18n String test with translation') %></p>
